@page "/forget-password"

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-16">
    <MudCard Elevation="2">
        <MudCardContent>
            <MudGrid>
                <!-- Left Column -->
                <MudItem xs="12" sm="3"
                         Class="d-flex align-center justify-center">
                    <MudStack Spacing="1" AlignItems="AlignItems.Center">
                        <MudText Typo="Typo.h5" Style="font-weight: 500;">變更密碼</MudText>
                        <MudStack Row="true"
                                  Spacing="1"
                                  AlignItems="AlignItems.Center"
                                  Style="justify-content: center">
                            <MudButton Variant="Variant.Text"
                                       Style="color: #604847; padding-left: 4px; margin: 0; min-height: 0;">
                                登入
                            </MudButton>
                            <MudButton Variant="Variant.Text"
                                       Style="color: #604847; padding-left: 4px; margin: 0; min-height: 0;">
                                註冊
                            </MudButton>
                        </MudStack>
                    </MudStack>
                </MudItem>

                <!-- Right Column -->
                <MudItem xs="12" sm="9">
                    <MudStack Spacing="4">
                        <MudStepper @bind-ActiveIndex="@_stepIndex" @ref="@_stepper">
                            <ConnectorTemplate Context="step">
                                <div class="mud-stepper-nav-connector">
                                    @{
                                        int value = step.Completed ? 100 : 0;
                                        <MudProgressLinear Indeterminate="@(step.IsActive)"
                                                           Striped
                                                           Value="value"
                                                           Min="0" Max="100"
                                                           Color="Color.Success"
                                                           Style="height: 2px; background-color: #d4ddeb; border-radius: 2px;" />
                                    }
                                </div>
                            </ConnectorTemplate>
                            <LabelTemplate>
                            @if (context.IsActive) {
                                <MudIcon Icon="@Icons.Material.Filled.Edit" Color="Color.Warning"></MudIcon>
                            }
                            else {
                                <MudIcon Icon="@Icons.Material.Filled.FmdGood" Color="Color.Success"></MudIcon>
                            }
                            </LabelTemplate>
                            <ChildContent>
                                <MudStep Title="步驟一"
                                         SecondaryText="請輸入帳號及 E-mail">
                                    <MudStack Spacing="4">
                                        <MudTextField T="string"
                                                      Label="姓名"
                                                      @bind-Value="_passwordVerification.Account"
                                                      Variant="Variant.Outlined"
                                                      FullWidth="true"/>
                                        <MudTextField T="string"
                                                      Label="E-mail"
                                                      @bind-Value="_passwordVerification.Email"
                                                      Variant="Variant.Outlined"
                                                      FullWidth="true"/>
                                    </MudStack>
                                </MudStep>
                                <MudStep Title="步驟二"
                                         SecondaryText="請輸入新密碼">
                                    <MudStack Spacing="4">
                                        <MudTextField T="string"
                                                      @bind-Value="_passwordReset.MainPassword"
                                                      InputType="@_mainPasswordInputType"
                                                      Label="密碼"
                                                      Variant="Variant.Outlined"
                                                      Adornment="Adornment.End"
                                                      AdornmentIcon="@_mainPasswordInputIcon"
                                                      OnAdornmentClick="HandleMainPasswordInputIconClick"
                                                      FullWidth="true" />
                                        <MudTextField T="string"
                                                      @bind-Value="_passwordReset.SubPassword"
                                                      InputType="@_subPasswordInputType"
                                                      Label="重新輸入密碼"
                                                      Variant="Variant.Outlined"
                                                      Adornment="Adornment.End"
                                                      AdornmentIcon="@_subPasswordInputIcon"
                                                      OnAdornmentClick="HandleSubPasswordInputIconClick"
                                                      FullWidth="true" />
                                    </MudStack>
                                </MudStep>
                                <MudStep Title="完成">變更成功</MudStep>
                            </ChildContent>
                            <CompletedContent>
                                <MudStack Row Class="ma-3">
                                    <MudIcon Icon="@Icons.Material.Filled.Done" Color="Color.Success"/>
                                    <MudText>
                                        You are checked-in, your ticket will be sent by email.
                                    </MudText>
                                </MudStack>
                            </CompletedContent>
                            <ActionContent>
                                @if (!_isCompleted) {
                                    <MudIconButton Icon="@Icons.Material.Filled.ArrowBack"
                                                   Color="Color.Warning"
                                                   Disabled="@(_stepIndex <= 0 || _stepIndex == 2)"
                                                   OnClick="@HandlePreviousStepClickAsync"/>
                                    <MudSpacer />
                                    <MudIconButton Icon="@Icons.Material.Filled.ArrowForward"
                                                   OnClick="@HandleNextStepClickAsync"
                                                   Color="Color.Warning" />
                                }
                            </ActionContent>
                        </MudStepper>
                    </MudStack>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
</MudContainer>